includes:
    - ../../phpstan.neon

parameters:
    paths:
        - .

    tmpDir: /tmp/phpstan

    excludePaths:
        - ./vendor/*
        - ./build/*
        - ./docs/*
        - ./Tests/*
        - ./tests/*

