includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/nesbot/carbon/extension.neon
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ./vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - ./vendor/pestphp/pest/extension.neon

parameters:

    paths:
        - Modules/IndennitaResponsabilita

    level: max
    parallel:
        jobSize: 50
        maximumNumberOfProcesses: 2
        minimumNumberOfJobsPerProcess: 1

    ignoreErrors:
        - '#Cannot cast mixed to (string|float|double|int|bool|boolean).#'
        - identifier: larastan.noEnvCallsOutsideOfConfig

    excludePaths:
        - ./*/vendor/*
        - ./*/build/*
        - ./*/docs/*
        - ./*/phpinsights.php
        - ./*/rector.php
        - ./*/*.blade.php

    bootstrapFiles:
        - ./phpstan_constants.php
        - ./phpstan-bootstrap.php

    mixinExcludeClasses:
        - ./Modules/Badge/Models
        - IdeHelperTimbra

    editorUrl: 'vscode://file/%%file%%:%%line%%'

    tmpDir: /tmp/phpstan/

    noUnnecessaryCollectionCall: false
    checkUnusedViews: false
    checkModelProperties: false
    treatPhpDocTypesAsCertain: false
    checkOctaneCompatibility: false
