includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    paths:
        - Modules/Ptv/

    level: max

    parallel:
        jobSize: 50
        maximumNumberOfProcesses: 2
        minimumNumberOfJobsPerProcess: 1

    ignoreErrors:
        - '#Cannot cast mixed to (string|float|double|int|bool|boolean).#'

    excludePaths:
        - ./*/vendor/*
        - ./*/build/*
        - ./*/docs/*
        - ./*/*.blade.php

    tmpDir: /tmp/phpstan-ptv-min/

    noUnnecessaryCollectionCall: false
    checkUnusedViews: false
    checkModelProperties: false
    treatPhpDocTypesAsCertain: false
    checkOctaneCompatibility: false

    scanFiles:
